body{
    margin: 0;
    background-color: white;
    background-image: radial-gradient(lightgray 1px, transparent 1px);
    background-size: 20px 20px; 
}

.active{
    color: black;
    background-color: #ffed00;
}

nav{
    width: 100%;
    position: fixed;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
nav ul li a:hover{
    color: black;
    background-color: #ffed00;
}
nav ul li{
    position: relative;
    left: 67em;
}

ul li a{
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}